#Events{
    width:100vw;
    /* background-color: rgb(18, 207, 62); */
    padding-top: 100px;
}
#Events #eventtop{

    background-image: url(https://cdn.pixabay.com/photo/2015/06/24/02/12/the-blurred-819392_1280.jpg);
    background-size: cover;
    background-position: left;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    font-size: 4rem;
}
#Events #eventinfo{
    background-color:rgba(93, 93, 226, 0.789);
    color:aliceblue;
    text-align: left;
    padding:50px;
    font-size: 2rem;
}

#eventpart2{
    display:flex;
    justify-content: center;
    flex-direction: row;
    padding:50px;
}
#eventpart2 .text-section h1{
    font-size:3rem;
}
#eventpart2 .text-section p{
    font-size:1.5rem;
}
#eventpart2 .underline {
    width: 50px;
    height: 4px;
    background-color: #1c3d6b;
}

/* nextpart */
#eventpart3{
    display:flex;
    justify-content: center;
    flex-direction: row;
    padding:50px;
    background-color:#1c3d6b;
    color:aliceblue
}
#eventpart3 .text-section h1{
    font-size:3rem;
}
#eventpart3 .text-section a{
    color:whitesmoke;
}
#eventpart3 .text-section p{
    font-size:1.5rem;
}
#eventpart3 .underline {
    width: 50px;
    height: 4px;
    background-color: #1c3d6b;
}
#eventpart3 .image-section1 img{
    width:500px;
    height:400px;
    padding-right:40px;
}

@media (max-width:800px) {
    #Events #eventinfo{
        background-color:rgba(93, 93, 226, 0.789);
        color:aliceblue;
        text-align: left;
        padding:50px;
        font-size: 1.3rem;
    }


    #eventpart2{
        flex-direction: column;
        justify-content: center;
        gap:20px;
        padding:50px;
    }
    #eventpart2 img{
        width:400px;
    }
    #eventpart2 .text-section h1{
        font-size:3rem;
    }
    #eventpart2 .text-section p{
        font-size:1.3rem;
    }
    #eventpart3{
        flex-direction: column;
        justify-content: center;
        gap:20px;
        padding:50px;
    }
    #eventpart3 .image-section1 img{
        width:440px;
    }
    #eventpart3 .text-section h1{
        font-size:3rem;
    }
    #eventpart3 .text-section p{
        font-size:1.3rem;
    }
    
}


